@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;600;700;800&display=swap');

*{
  font-family: "Martel Sans";
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
  box-shadow: 0 2px 3px -3px #000;
}
.logo {
  max-width: 170px;
  min-height: 60px;
}

.nav-items>ul{
  display: flex;
  justify-content: right;
  justify-content: right;
  list-style-type: none;
}
.nav-items>ul>li{
  margin: 5px;
  
}
.nav-items>ul>li>a{
  font-size: large;
  font-weight: bolder;
  text-decoration: none;
  color: #000
}
.title{
  text-align: center;
}



